.DS_Store
*.sublime-project
*.sublime-workspace
.zsh/history
.zsh/.zhistory
.zsh/zcompdump
.zsh/zshrc.local
.subversion
.gitconfig
.ssh
.bundle/cache
#ssh_config
hosts

.config/direnv

config/secrets.yml.sample
.envrc

.ansible_vault_key
!.gitkeep
